/* Smooth scroll for anchor links */
html {
    scroll-behavior: smooth;
}

.active {
    color: #ec4899;
    font-weight: bold;
}

.nav-item {
    animation: slideIn 0.5s ease-in-out;
}

*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color:black;
}

button{
    font-family: "Inter", sans-serif !important;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.active {
    border-bottom: 3px solid #D31871;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.faq-answer {
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.faq-answer.open {
    max-height: 100px;
    /* Adjust based on content */
    opacity: 1;
}

.opactity-bg{
    background-image:url("../assets/opactity-bg.png")
}

.shadow-m{
    box-shadow: 0px 24px 44px 0px #00000012;
}

.footer-bg{
    background-image:url("../assets/footer-bg.png");
    background-size:100% 100%;
}

.header-hg{
    height:calc(100vh - 70px);
}

.textShadow-cl{
    text-shadow: 1px 3px #00000021;
}

@media only screen and (max-width:767px){
    .header-hg{
    height:auto;
}
}